* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #23252C;
}

.container {
    height: 698px;
    width: 317px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #1A1B21;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
    /* border: 1px solid white; */
}

.photo {
    height: 300px;
    width: 317px;
    background-image: url("https://w0.peakpx.com/wallpaper/827/858/HD-wallpaper-satoru-gojo-gojo-gojo-satoru-jujutsu-kaisen-satoru-satoru-gojo-yuji-itadori-thumbnail.jpg");
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 389px;
    margin-top: 10px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center ;
    /* border: 1px solid white; */
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: auto;
    /* border: 1px solid white; */
}

.buttons > button{
    height: 34px;
    width: 114px;
    background-color: white;
    border-radius: 5px;
    margin: 5px 0;
}

#link{
    background-color: #5093E2;
    color: #FFFFFF;
}

.about{
    /* border: 1px solid white; */
    width: 250px;
}

.about > h3{
    font-size: 17px;
}

.about > p{
    font-size: 12.5px;
}

.interest{
    /* border: 1px solid white; */
    width: 250px
}

.interest > h3{
    font-size: 17px;
}

.interest > p{
    font-size: 12.5px;
}

.icons{
    /* border: 1px solid white; */
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons > button{
    height: 35px;
    width: 35px;
    background-color: #918E9B;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.30rem;
}